.pc-header {
    height: 10vh;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-width: 1px;
}

.pc-header ul {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pc-header li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 200ms;
}
.pc-header li:hover {
    font-size: 20px;
}

.mobile-header {
    padding-left: 2px;
    padding-right: 2px;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
}

.mobile-header .menu-button {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: blue;
    width: 90vw;
    height: 100vh;
    transition: 0.4s;
}

.nav-bar.hidden {
    top: 0;
    left: -100vw;
}

.nav-bar .close-button-bar {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.nav-bar ul {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 40px;
}

.nav-bar li {
    margin-top: 5px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .pc-header {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-header {
        display: none;
    }
}
