.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
}

.unsupported-chain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: red;
}

.unsupported-chain li {
    list-style: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .loader {
        font-size: 30px;
    }
    .unsupported-chain {
        font-size: 25px;
    }
    .unsupported-chain li {
        font-size: 20px;
    }
}
