.parties-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parties-container .header {
    font-size: 20px;
}

.party-card {
    position: relative;
    width: 80%;
    height: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    color: black;
    transition: 400ms;
}
.party-card:hover {
    position: relative;
    width: 85%;
    height: 150px;
    top: 10px;
}
.party-card .img-wrap {
    width: 500px;
    height: 120px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
}

.img-wrap img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}
.party-card .party-name {
    font-size: 30px;
}

.party-card .ticket-sales {
    font-size: 20px;
}

.full-screen-party-card-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-screen-party-card {
    width: 50%;
    height: 50vh;
    border: solid;
    background-color: white;
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    color: black;
}
.full-screen-party-card .close-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.full-screen-party-card .close-button {
    cursor: pointer;
    font-size: 20px;
    color: red;
    transition: 200ms;
}
.full-screen-party-card .close-button:hover {
    font-size: 25px;
}

.full-screen-party-card .party-info {
    height: 70%;
}
.full-screen-party-card .party-name {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.full-screen-party-card .party-description {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}
.full-screen-party-card .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.full-screen-party-card button {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .party-card .party-name {
        font-size: 15px;
    }

    .party-card .ticket-sales {
        font-size: 10px;
    }
    .full-screen-party-card {
        width: 90vw;
    }
}
